{# templates/admin/dashboard.html.twig #}
{% extends '@EasyAdmin/layout.html.twig' %}

{% block content %} <h1>BIENVENUE SUR LE PANNEAU DE CONTROLE</h1>{% endblock content %}

{% block main %}
    {# ... #}
{% endblock main %}